/* Add button styles */
#add-task {
    background-color: aquamarine;
    color: white;
}

#add-task:hover {
    background-color: blueviolet;
}

/* Button color coordination */
.checkTask {
    color: orange;
    border: solid 2px orange;
}

.checkTask:hover {
    background-color: orange;
}

.deleteTask {
    color: red;
    border: solid 2px red;
}

.deleteTask:hover {
    background-color: red;
}
